/*Baloo Tammudu 2: */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
/* Exo 2: */
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
* {
  cursor: default;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: #BA1414;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to bottom, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
  filter: blur(30px);
}

#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
  filter: blur(30px);
}

.top {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1.5%;
  margin-bottom: 5%;
  justify-content: center;
}
.top h1 {
  font-size: 72px;
  font-weight: 600;
  color: transparent;
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(to right, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  margin: 0 0 0 300px;
}
.top .invite {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 600;
  color: transparent;
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(to right, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
  margin-left: 150px;
}
.top .invite:after {
  bottom: -6px;
  content: "";
  height: 4px;
  left: -10px;
  position: absolute;
  background: linear-gradient(to right, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
  transition: width 0.5s ease, height 0.5s ease;
  width: 0;
}
.top .invite:before {
  bottom: -6px;
  content: "";
  height: 0px;
  left: -10px;
  position: absolute;
  background: linear-gradient(to bottom, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
  transition: width 0.5s ease, height 0.5s ease;
  width: 4px;
}
.top .invite:hover:after {
  width: calc(100% + 8px);
}
.top .invite:hover:before {
  height: 50%;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 55px;
}
.box:nth-child(2) {
  background: #F6F6F6;
}
.box .content {
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 5% 0 5%;
}
.box .content .desc {
  font-size: 42px;
  font-weight: 600;
  color: #0049a8;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 15px;
  text-align: center;
}
.box .content .infos {
  font-size: 42px;
  font-weight: 600;
  color: #BA1414;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 15px;
  text-align: center;
}
.box .content .misc {
  font-size: 42px;
  font-weight: 600;
  color: #c9a00b;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 15px;
  text-align: center;
}
.box .content p {
  font-size: 36px;
  font-weight: 400;
  color: #2c2828;
  font-family: "Exo 2", sans-serif;
  margin-top: 15px;
  text-align: center;
  line-height: 55px;
}
.box .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.box .img img {
  transition: all 0.3s;
  width: 200px;
}
.box .img1 img, .box .img2 img {
  border-radius: 50%;
}
.box .img1 img:hover, .box .img2 img:hover {
  box-shadow: 7px 7px 25px #403A3E;
  transform: translateY(-6px);
}

.bump {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -55px;
}
.bump .jump {
  font-size: 36px;
  font-weight: 400;
  color: #BA1414;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
}
.bump .jump:after {
  background: none;
  bottom: -10px;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  background: #BA1414;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.bump .jump:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 1273px) {
  .top {
    flex-direction: column;
  }
  .top h1 {
    margin-left: 0;
  }
  .top .invite {
    margin-left: 0;
    margin-top: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .top h1 {
    line-height: 90px;
  }

  .box {
    flex-direction: column;
  }
  .box .img {
    margin: 50px 0 25px 0;
    width: auto;
  }
  .box .content {
    width: 90%;
    padding: 0 5%;
  }
  .box .content p {
    font-size: 28px;
    line-height: calc(normal + 2px);
  }

  .bump .jump {
    font-size: 24px;
  }

  .box2 {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 450px) {
  .box .img {
    width: 100%;
  }
  .box .img img {
    width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
