// Polices
/*Baloo Tammudu 2: */ @import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
/* Exo 2: */ @import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

//Variablies
$txtColor: rgb(44, 40, 40);

// Mixins:
@mixin txt ($size: 24px, $weight: 400, $color: $txtColor, $fontFa: 'Exo 2') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $fontFa, sans-serif;
}

@mixin content () {
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin h1Content ($color) {
    @include txt (42px, 600, $color, 'Exo 2');
    margin-bottom: 15px;
    text-align: center;
}

@mixin bef_aft ($back, $bottom: -6px, $left: -10px, $height: 4px, $width: 0) {
    bottom: $bottom;
    content: "";
    height: $height;
    left: $left;
    position: absolute;
    background: $back;
    transition: width 0.5s ease, height 0.5s ease;
    width: $width;
}

* {
    cursor: default;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  #scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: #BA1414;
  }
  
  #progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to bottom, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
  }
  
  #progressbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
    filter: blur(30px);
  }
  
  #progressbar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
    filter: blur(30px);
  }

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;

    h1 {
        @include txt (72px, 600, transparent, 'Baloo Tammudu 2');
        background: linear-gradient(to right, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        width: 80%;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        @include txt (42px, 600, transparent);
        background: linear-gradient(to right, #0049a8 5%, #BA1414 53%, #c9a00b 91%);
        background-clip: text;
        -webkit-background-clip: text;
        transition: transform 0.5s ease;
        cursor: pointer;
        margin-left: 0;

        &:after {    

            @include bef_aft (linear-gradient(to right, #0049a8 5%, #BA1414 53%, #c9a00b 91%));
        }

        &:before {
            @include bef_aft (linear-gradient(to bottom, #0049a8 5%, #BA1414 53%, #c9a00b 91%), -6px, -10px, 0px, 4px);
        }

        &:hover {
            transform: translate(4px, -4px);

            &:after {
                width: calc(100% + 8px); 
            }
    
            &:before {
                height: 50%;
            }
        }
    }
}



.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 55px;

    &:nth-child(2) {
        background: #F6F6F6;
    }

    .content {
        @include content ();
        height: 100%;
        padding: 0 5% 0 5%;

        .desc {
            @include h1Content(#0049a8);
        }

        .infos {
            @include h1Content(#BA1414);
        }

        .misc {
            @include h1Content(#c9a00b);
        }

        p {
            @include txt (36px);
            margin-top: 15px;
            text-align: center;
            line-height: 55px;
        }
    }

    .img1 img {

        transition: all 0.3s;
        width: 200px;
        border-radius: 50%;

        &:hover {
            box-shadow: 7px 7px 25px #403A3E;
            transform: translateY(-6px);
        }
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
    }
}

.img3 img {
    width: 170px;
}

.bump  {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -55px;

    .jump {
        @include txt(36px, 400, #BA1414);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        position: relative;
        cursor: pointer;
        
        &:after {    
            background: none;
            bottom: -10px;
            content: "";
            height: 3px;
            left: 50%;
            position: absolute;
            background: #BA1414;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &:hover:after { 
            width: 100%; 
            left: 0; 
        }
    }
}


// Rsponsive à 1273 px width 

@media screen and (max-width: 1273px) {
    .top {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {

    .top {
        h1 {
            line-height: 90px;
        }
        a {
            margin-top: -50px;
        }
    }
    .box {
        flex-direction: column;

        .img {
            width: 100%;

            &1 {
                margin: 50px 0 25px 0;
            }
        }

        .content {
            width: 90%;
            padding: 0 5%;

            p {
                font-size: 28px;
                line-height: calc(normal + 1px);
            }
        }

        img {
            width: 15%;
        }
    }

    .bump .jump {
        font-size: 24px;
    }

    .box2 {
        flex-direction: column-reverse;
    }
}